<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
                   version="4.0">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>servlet.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exam</servlet-name>
        <servlet-class>Exam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmEmail</servlet-name>
        <servlet-class>servlet.confirmEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlist</servlet-name>
        <servlet-class>userlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertResult</servlet-name>
        <servlet-class>servlet.insertResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletQuestion</servlet-name>
        <servlet-class>servlet.deletQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetEmail</servlet-name>
        <servlet-class>forgetEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmForgetEmail</servlet-name>
        <servlet-class>confirmForgetEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>servlet.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamFinish</servlet-name>
        <servlet-class>servlet.ExamFinish</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamFinish</servlet-name>
        <url-pattern>/ExamFinish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmForgetEmail</servlet-name>
        <url-pattern>/confirmForgetEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetEmail</servlet-name>
        <url-pattern>/forgetEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletQuestion</servlet-name>
        <url-pattern>/deletQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertResult</servlet-name>
        <url-pattern>/insertResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlist</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmEmail</servlet-name>
        <url-pattern>/confirmEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exam</servlet-name>
        <url-pattern>/Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>